<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/default.css" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home Page</title>
    <link rel="icon" href="/assets/favicon.ico" />
  </head>
  <body>
    <div class="nav_bar">
      <ul>
        <div class="logo">
          <li>
            <a href="/home"><img src="assets/logob.png" /></a>
          </li>
        </div>
        <li><a href="/problems">Problems</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li style="float: right"><a href="/logout">Logout</a></li>
        <li style="float: right"><a href="/profile"><%= name %></a></li>
      </ul>
    </div>
    <center>
      <div class="typewriter">
        <br />
        <h1>WELCOME TO REDOC</h1>
      </div>
    </center>
    <div class="container">
      <div class="POTD">
        <a>PROBLEM OF DAY:</a>
        <p id="potd">
          <b>Practice and Improve</b><br />
          These questions are specifically given to help you improve at
          programming. Each problem is available from 8 P.M. of the First Day to
          8 P.M. of next day.<br />
        </p>
        <a class="submit_btn" href="//localhost:5000/question?qid=2">
          Solve Today's Question
        </a>
      </div>
      <div class="news">
        <div class="news-content">
          <br /><a href="#" class="news-title">Title of the news</a><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
          laboriosam impedit distinctio, ex inventore mollitia.<br />
        </div>
      </div>
      <div class="news">
        <div class="news-content">
          <br /><a href="#" class="news-title">Title of the news</a><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
          laboriosam impedit distinctio, ex inventore mollitia.<br />
        </div>
      </div>
      <div class="content">
        <h1>Description</h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates
        adipisci delectus accusamus aspernatur laudantium reprehenderit, eveniet
        distinctio numquam odit consequatur. Beatae ipsam odio, itaque
        laudantium nisi id voluptatibus corporis rerum illo fugit! Labore
        incidunt quam autem, neque aperiam minima eius odit, recusandae ex
        placeat accusantium, rerum facere et inventore delectus minus
        reprehenderit sit? Et mollitia unde rerum illo iure at id recusandae
        explicabo officiis suscipit, dolor saepe distinctio repudiandae omnis
        ducimus expedita ex possimus repellendus culpa laboriosam labore! Qui
        quos in dolore. Sed quasi quis earum dolore ipsum molestias rem
        consequuntur doloribus alias sapiente omnis fuga deleniti, a, quibusdam
        illo?
      </div>
      <div class="news">
        <div class="news-content">
          <br /><a href="#" class="news-title">Title of the news</a><br /><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
          laboriosam impedit distinctio, ex inventore mollitia.<br />
        </div>
      </div>
    </div>
    <br />
    <footer>
      <p>
        This website was developed as part of Project Component of CSE3002 by:
      </p>
      <ul>
        <li>Mohammaed Ryyan</li>
        <li>Samit Maharjan</li>
        <li>Bikalp KC</li>
        <li>Sulav Giri</li>
      </ul>
      <p class="bottom">copyright &copy; 2021, All rights reserved</p>
    </footer>
  </body>
</html>
