<html>
    <head>
        <title>Login | redoC</title>
        <link rel="icon" href="/assets/favicon.ico">
        <link rel="stylesheet" href="css/default.css">
        <link rel = "stylesheet" href = "css/login.css"> 
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
            <div class="login-form-home">
            <h1>Welcome To redoC</h1>
            <a href="/individual_login" class="btn">&emsp;&emsp;Individual Login</a>
            &emsp;&emsp;&emsp;&emsp; 
            <a href="/admin_login" class="btn">Admin Login</a>
            </div>
            <div class="backimg">
                <img src="assets/background.jpg">
            </div>
    </body>
</html>