<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>problems</title>

  <link rel="icon" href="/assets/favicon.ico">
  <link rel = "stylesheet" href = "css/default.css">
  <link rel = "stylesheet" href = "css/problems.css">
</head>
<body>
  <div class="nav_bar">
    <ul>
      <div class="logo"><li><a href = "/home"><img src = "assets/logob.png"></a></li></div>
      <li><a href = "/problems" id="problems">Problems</a></li>
      <li><a href = "#">Contest</a></li>
      <li><a href = "/discuss">Discuss</a></li>
      <li><a href = "/contact">Contact</a></li>
      <li><a href = "#">Leaderboard</a></li>
      <li style="float: right;"><a href = "#">Logout</a></li>
      <li style="float: right;"><a href = "#">Profile</a></li>
    </ul>
  </div>
  <div class="list-problems">
    <div class="tablelist">
      <table id = "table">
        <colgroup>
          <col span = "1" style = "width: 5%;">
          <col span = "1" style = "width: 50%;">
          <col span = "1" style = "width: 40%;">
          <col span = "1" style = "width: 15%;">
        </colgroup>
        <tr>
          <th>S.No.</th>
          <th>Title</th>
          <th>Difficulty</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>1</td>
          <td><a href = "#">Question 1</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td><a href = "#">Question 2</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td><a href = "#">Question 3</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td><a href = "#">Question 4</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td><a href = "#">Question 5</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>6</td>
          <td><a href = "#">Question 6</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>7</td>
          <td><a href = "#">Question 7</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>8</td>
          <td><a href = "#">Question 8</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>9</td>
          <td><a href = "#">Question 9</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10</td>
          <td><a href = "#">Question 10</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr class = "btns">
          <td colspan = 4>
            <button id = "btn">← Previous</button>
            <button id = "btn">Next →</button>
           </td>
        </tr>
      </table>
    </div>
    <div class = "side">
    <div class = "news">
      <div class = "news-content">
      <br><a href = "#" class = "news-title">Title of the news</a><br><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam impedit distinctio, ex inventore mollitia.<br>
      </div>
    </div>
    <div class = "news">
      <div class = "news-content">
      <br><a href = "#" class = "news-title">Title of the news</a><br><br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam impedit distinctio, ex inventore mollitia.<br>
      </div>
    </div>
  </div>
  </div>
  <footer>
  copyright &copy; 2021, Samit_Sulav_Bikalp_Rayyan
  </footer>
<script src = "/js/problems.js"></script>
</body>
</html>