.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
  flex: 1 1 33%;
}

#potd{
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  font-size: 20px;
  line-height: 1.5;
}

.POTD{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  white-space: normal;
  overflow: hidden; 
  border-radius: 10px;
  width: 40%;
  color:white;
  font-family: monospace;
  font-size: 15px;
  /* margin-top: 20px; */
}

.POTD a{
  text-align: center;
  white-space: nowrap;
  line-height: 2em;
  margin: 0 15px;
  font-weight: bold;
  font-size: 2em;
}


.submit_btn{
  background-image: linear-gradient(315deg, #63d475 0%, #324b3c 80%);

  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  transition: 0.5s;
  border: 0px;
  font-size: 1.2em;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline block;
  cursor: pointer;
  padding: 10px;
  margin: 15px;
}

.submit_btn:hover{
  background-position: right center;
}

.news{
  color: white;
  background-image: url("/assets/news.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10rem;
  margin: 20px 0;
  max-width: 35ch;
  font-family: 'Montserrat', sans-serif;
  float: right;
  border-radius: 1em;
  overflow: hidden;
  transition: transform 200ms ease;
}

.news:hover{
  transform: scale(1.05);  
}

.news-content{
  padding: 1.5em;
  padding-right: 0;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 10% / 1));
}
.news-title{
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 25px;
  position: relative;
  width: max-content;
  padding:20px 0 5px 0;
}
.news-title::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: blue;
  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.news:hover .news-title::after{
  transform: scaleX(1);
}

.content{
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  padding: 10px;
  width: 70%;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.typewriter h1{
  font-weight: bold;
  font-size: 30px;
  color: white;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 3px orange;
  animation: typing 3s steps(30, end) 1s 1 normal both, blinking .5s steps(30,end) infinite;
}

@keyframes typing{
  from {
    width: 0;
  }
  to {
    width: 280px;
  }
}

@keyframes blinking {
  from{
    border-right-color: orange;
  }
  to{
    border-right-color: transparent;
  }
}