@import url('https://fonts.googleapis.com/css2?family=Raleway');
.list-users{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  margin: 10px;
}

#leaderboard{
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
  text-underline-offset: 14px;;
}

.tablelist{
  margin: auto;
  width: 55%;
  height: 100%;
}

#table{
  border: none;
  border-collapse: collapse;
  border-radius: 10px;;
  background-color: #3c3c3c;
  margin: 20px 20px 20px 10px;
  font-size: 20px;
  color: white;
}


th, td{
  padding: 15px 20px;
  text-align: left;
  font-family: 'Raleway';
  overflow: hidden;
  text-overflow: ellipsis;
}
 .tocentre{
   text-align: center;
 }
tr:nth-child(even){
  background-color:#232222;
}