@import url('https://fonts.googleapis.com/css2?family=Raleway');
.list-problems{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  margin: 10px;
}

#problems{
  text-decoration-line: underline;
  text-decoration-color: red;
  text-decoration-thickness: 5px;
  text-underline-offset: 14px;;
}

.tablelist{
  width: 75%;
  height: 100%;
  margin: auto;
}

#table{
  border: none;
  border-collapse: collapse;
  border-radius: 10px;;
  background-color: #3c3c3c;
  margin: 20px 20px 20px 10px;
  font-size: 20px;
}

#table a{
  text-decoration: none;
  color: white;
}
#table a:hover{
  color: blue;
  transition: 500ms;
}

th, td{
  padding: 15px 20px;
  text-align: left;
  font-family: 'Raleway';
  overflow: hidden;
  text-overflow: ellipsis;
}

tr:nth-child(even){
  background-color:#232222;
}

#tick{
  text-align: center;
}